<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>authors</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->


    {% load static %}
    
</head>
<body>

<div id="name">
        <h2>Welcome {{ person.first_name }}!</h2>
    </div>



            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
    
        <h1></h1>
        <div class="name">
            <form action="/addauthorquote" method="POST">
<!-- adding author and quote -->
                {% csrf_token %}
                <p class="name" >quoted by: <input type="text" name='quotedby'></p>
                <p class="name" >quote: <input type="text" name="message"></p>
                <input type="submit" name="addauthorquote" value="addauthorquote" class="button">
            </form>
        </div>

        <!-- create list for authors and quotes -->

        <table border="2" width="800">
            <tr>
                <th>Author</th>
                <th>Quotes</th>
                <th>Poster</th>
                <th>Actions</th>     
            </tr>
            {% for quote in quotes %}
            <tr>
                <th>{{ quote.author }}</th>
                <td>{{ quote.quote }} </td>
                <td><p>Posted by <a href="/allquotes_by_user/{{quote.poster.id}}">{{ quote.poster.first_name }}</a></p></td>
                {% if request.session.id == quote.poster.id %}
                <td><a href="/delete/{{quote.id}}">Delete</a>&nbsp;&nbsp;|&nbsp;&nbsp; 
                <a href="/editquote/{{quote.id}}">Edit</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>



    </body>
    </html>

<a href="/logout">Log out</a> 