<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}


    <h1>Edit my account</h1>
    <div class="name">
            <form action="/update" method="POST">
<!-- adding author and quote -->
                {% csrf_token %}
                <p class="name" >First Name: <input type="text" name="first_name"></p>
                <p class="name" >Last Name: <input type="text" name="last_name"></p>
                <p class="name" >email: <input type="text" name="email"></p>
                <input type="submit" name="update" value="update" class="button">
            </form>
        </div>

        <a href="/quotes">Go back</a>

</body>
</html>